settings/local_settings.py
secure_settings*.env
.idea/
.config/browser-launcher2/chrome*
.atom/.apm/
.atom/packages/
.aws/credentials
.config/robomongo/
.config/pudb/
scratch*
.build/
node_modules/
pytest_cache/
*.egg-info/
*.http
